body {
	background: rgb(227, 227, 227);
	background: linear-gradient(
		180deg,
		rgba(227, 227, 227, 1) 16%,
		rgba(252, 253, 255, 1) 64%,
		rgba(255, 255, 255, 1) 100%
	);
	margin: 0;
	padding: 0;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

/* code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
} */
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.relative {
	position: relative;
}
.sticky {
	position: sticky;
}
.row {
	margin-bottom: 0px;
}
.modal .modal-content {
	padding: 0;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
	color: white;
	background-color: grey;
	border-radius: 25px;
	height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
