html {
	scroll-snap-type: y proximity;
}

body {
	margin: 0;
	padding: 0;
}

.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.relative {
	position: relative;
}
.sticky {
	position: sticky;
}
.row {
	margin-bottom: 0px;
}
.modal .modal-content {
	padding: 0;
}

/* Removing default attributes of links */
.link {
	text-decoration: none;
	color: unset;
}
.link:hover {
	color: grey;
	font-weight: bold;
}

/* ----------- CUSTOM SCROLL BAR ----------- */
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
	color: white;
	background-color: grey;
	border-radius: 25px;
	height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.sidenav-overlay {
	background-color: rgba(0, 0, 0, 1);
	z-index: 15;
}
