/* Fixed-Left Floating Box in 1:1 ratio */
.h1 {
	color: white;
	top: 10vw;
	left: 18vw;
	margin: 0;
	padding: 1.5rem;
	font-size: 5vw;
	border: solid white 1vw;
	width: 28vw;
	height: 28vw;
	/* mix-blend-mode: difference; */
	z-index: 1;
}

.imgCenter {
	top: 10vw;
}

/* Initial Image Class to maintain 1:1 box ratio */
.sqrImg {
	width: 28vw;
	height: 28vw;
	object-fit: cover;
}

/* Image Class for Modal to display image at full resolution */
.fullImg {
	transform: scale(0);
	transition: 0.5s ease-in-out;

	animation: fadeIn linear 0.5s;
	-webkit-animation: fadeIn linear 0.5s;
	-moz-animation: fadeIn linear 0.5s;
	-o-animation: fadeIn linear 0.5s;
	-ms-animation: fadeIn linear 0.5s;
}

.activeImg {
	width: auto;
	max-height: 80%;
	display: block;

	transform: scale(1);
	animation: fadeIn linear 0.5s;
	-webkit-animation: fadeIn linear 0.5s;
	-moz-animation: fadeIn linear 0.5s;
	-o-animation: fadeIn linear 0.5s;
	-ms-animation: fadeIn linear 0.5s;
	transition: 0.5s ease-in-out;
}

.modalContainer {
	transform: scale(0);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translate(-50%, -50%) scale(0);
	background-color: rgba(250, 250, 250, 0.1);
	pointer-events: all;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .inactive {
	transform: scale(0);
	transition: 1s ease-in-out;

	animation: fadeIn linear 0.2s;
	-webkit-animation: fadeIn linear 0.2s;
	-moz-animation: fadeIn linear 0.2s;
	-o-animation: fadeIn linear 0.2s;
	-ms-animation: fadeIn linear 0.2s;
} */

.modalContainer.active {
	transform: scale(1);
}

/* INTRO text container */
#intro {
	margin-top: 5px;
}

.fadeIn {
	position: relative;
	transform: scale(1);
	margin-right: 35%;
	top: 8vw;
	display: inline-block;

	animation: fadeIn linear 2s;
	animation-delay: 1s;
	-webkit-animation: fadeIn linear 2s;
	-moz-animation: fadeIn linear 2s;
	-o-animation: fadeIn linear 2s;
	-ms-animation: fadeIn linear 2s;
}

.fadeGone {
	transform: scale(0);
}

#introBody {
	font-size: 2em;
}
