body {
	margin: 0;
	cursor: cell;
}

section {
	background-color: white;
	position: relative;
	height: 101vh;
	max-height: 101vh;
	bottom: 4.5rem;
	width: 100%;
}

section:nth-child(odd) {
	background-color: black;
}

.h1 {
	color: white;
	top: 10vw;
	left: 18vw;
	right: 0;
	margin: 0;
	padding: 1.5rem;
	font-size: 5vw;
	border: solid white 1vw;
	width: 28vw;
	height: 28vw;
	mix-blend-mode: difference;
	z-index: 1;
}

.imgCenter {
	top: 10vw;
}

img:hover {
	cursor: none;
}

.sqrImg {
	width: 28vw;
	height: 28vw;
	object-fit: cover;
}

.fullImg {
	width: 70%;
	height: auto;
	display: block;
}

.modalBody {
	width: 100vw;
	height: 101vh;
	transform: scale(0);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.8);
	pointer-events: all;
}

.modalBody.active {
	transform: scale(1);
	animation: fadeIn linear 0.5s;
	-webkit-animation: fadeIn linear 0.5s;
	-moz-animation: fadeIn linear 0.5s;
	-o-animation: fadeIn linear 0.5s;
	-ms-animation: fadeIn linear 0.5s;
	transition: 0.5s ease-in-out;
}

/* Custom Fade In Effect for Text */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeIn {
	position: relative;
	margin-right: 35%;
	top: 8vw;
	display: inline-block;
	animation: fadeIn linear 1s;
	-webkit-animation: fadeIn linear 1s;
	-moz-animation: fadeIn linear 1s;
	-o-animation: fadeIn linear 1s;
	-ms-animation: fadeIn linear 1s;
}

.fadeIn-body {
	font-size: 2em;
}
