/* Fixed-Left Floating Box in 1:1 ratio */
.h1 {
	color: white;
	top: 10vw;
	left: 18vw;
	margin: 0;
	padding: 1.5rem;
	font-size: 5vw;
	border: solid white 1vw;
	width: 28vw;
	height: 28vw;
	/* mix-blend-mode: difference; */
	z-index: 1;
}

.imgCenter {
	top: 10vw;
}

/* Initial Image Class to maintain 1:1 box ratio */
.sqrImg {
	width: 28vw;
	height: 28vw;
	object-fit: cover;
}

/* INTRO text container */
#intro {
	margin-top: 5px;
}

.fadeIn {
	position: relative;
	transform: scale(1);
	margin-right: 35%;
	top: 8vw;
	display: inline-block;

	animation: fadeIn linear 2s;
	animation-delay: 1s;
	-webkit-animation: fadeIn linear 2s;
	-moz-animation: fadeIn linear 2s;
	-o-animation: fadeIn linear 2s;
	-ms-animation: fadeIn linear 2s;
}

.fadeGone {
	transform: scale(0);
}

#introBody {
	font-size: 2em;
}
