body {
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

section {
	background-color: white;
	position: relative;
	height: 100vh;
	bottom: 4.5rem;
	width: 100%;

	scroll-snap-align: start;
}

section:nth-child(odd) {
	background-color: black;
}

.h1 {
	color: white;
	top: 10vw;
	left: 18vw;
	right: 0;
	margin: 0;
	padding: 1.5rem;
	font-size: 5vw;
	border: solid white 1vw;
	width: 28vw;
	height: 28vw;
	mix-blend-mode: difference;
	z-index: 1;
}

.imgCenter {
	top: 10vw;
}

.sqrImg {
	width: 28vw;
	height: 28vw;
	object-fit: cover;
}
