/* Main Navbar present on all pages */
/* Custom Navbar logo */
.logo {
	min-width: 5%;
	min-height: 5%;
	padding-top: 1.8rem;
}
.logoImg {
	display: inline;
	width: 60px;
	padding: 0.2rem;
	margin-left: 1rem;
	z-index: 3;
}
.nav {
	background-color: rgba(0, 0, 0, 0);
}
.blend {
	mix-blend-mode: difference;
}
